<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="./sky.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="x5-orientation" content="landscape">
    <meta name="screen-orientation" content="landscape">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta property="og:url" content="https://github.com/WaveF/sky-piano-lite" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Sky Piano Lite" />
    <meta property="og:description" content="Sky Piano Lite is a lightweight web-based piano simulator inspired by Sky: Children of the Light." />
    <meta property="og:image" content="https://raw.githubusercontent.com/WaveF/sky-piano-lite/refs/heads/main/screenshot.jpg" />
    <meta property="og:site_name" content="Sky Piano Lite" />
    <title>Sky Piano Lite</title>
    <script src="./tailwindcss-jit-cdn.umd.min.js"></script>
  </head>
  <body>
    <div id="app" class="flex flex-col w-full h-full justify-center items-center px-4 bg-cover bg-center bg-blend-multiply"
      :style="{ background:`url(${bgImage}) center / cover no-repeat, ${bgColor}`}"
      @vue:mounted="mounted($el)"
      @vue:unmounted="unmounted">

      <!-- 顶部按钮 -->
      <div class="fixed top-0 left-0 w-full flex justify-between p-3">
        <div class="flex gap-2">
          <div class="candle glow relative w-12 h-12 rounded-lg" @pointerdown="onCandleClicked">
            <span class="absolute -bottom-1 left-9 pointer-events-none">3</span>
          </div>
          <div class="heart glow relative w-12 h-12 rounded-lg" @pointerdown="onLikeClicked">
            <span class="absolute -bottom-1 left-9 pointer-events-none">{{likes}}</span>
          </div>
        </div>
        <div class="flex gap-2">
          <div class="sheet w-12 h-12 rounded-lg duration-100 active:scale-90" @pointerdown="showSheetList"></div>
        </div>
      </div>
      <!-- 底部按钮 -->
      <div class="fixed bottom-0 right-0 flex gap-2 p-3">
        <div :class="[`rec w-12 h-12 rounded-lg duration-100 active:scale-90`, {'recording':isRecording}]" @pointerdown="toggleRecording"></div>
      </div>

      <div :class="[`grid grid-cols-5 gap-4 duration-1000`, {'pointer-events-none opacity-30':!loaded}]">
        <template v-for="(value, key, index) in keyMap" :key="key">
          <div class="note flex w-16 h-16 justify-center items-center bg-black/50 rounded-lg cursor-pointer duration-100"
            :data-key="key"
            @pointerdown="onPianoPointerDown"
            @dblclick.stop.prevent="onPianoDblClick">
            <div class="icon flex justify-center items-center w-full h-full mix-blend-lighten pointer-events-none" v-text="showNotes ? value : ''"></div>
          </div>
        </template>
      </div>

      <div v-if="isSheetListShowing" class="backdrop fixed w-full h-full top-0 left-0 flex justify-center items-center px-4 bg-black/10 backdrop-blur"
        @pointerdown="hideSheetList">
        <div class="grid grid-cols-5 gap-4 duration-1000">
          <div class="sheet-btn relative flex flex-col w-16 h-16 justify-center items-center bg-black/50 rounded-lg cursor-pointer"
            @click="selectSheetFile">
            <span class="absolute -top-4 left-0 w-full text-center text-xs">选择文件</span>
            <div class="icon flex justify-center items-center w-full h-full mix-blend-lighten pointer-events-none"></div>
          </div>
          <div v-if="Object.keys(lastRecord).length>0" class="sheet-btn relative flex flex-col w-16 h-16 justify-center items-center bg-black/50 rounded-lg cursor-pointer"
            @click="playLastRecord">
            <span class="absolute -top-4 left-0 w-full text-center text-xs">上次录制</span>
            <div class="icon flex justify-center items-center w-full h-full mix-blend-lighten pointer-events-none"></div>
          </div>
          <template v-for="(item, index) in sheetList">
            <div class="sheet-btn relative flex flex-col w-16 h-16 justify-center items-center bg-black/50 rounded-lg cursor-pointer"
              @click="loadSheet(item.sheet)">
              <span class="absolute -top-4 left-0 w-full text-center text-xs">{{item.name}}</span>
              <div class="icon flex justify-center items-center w-full h-full mix-blend-lighten pointer-events-none"></div>
            </div>
          </template>
        </div>
      </div>
    
      <audio id="resume" src="./wufu.mp3" preload="auto"></audio>
      <span class="fixed bottom-0 text-xs text-white py-3 cursor-pointer duration-200 opacity-50 hover:opacity-90 active:opacity-50" @pointerdown="resumeAudio">没有声音? 请试试点击这里.</span>
    </div>

    <dialog id="modal" class="w-[fit-content] min-w-[350px] p-0 rounded-xl bg-black/50 backdrop-blur duration-300">
      <div class="py-6 px-8">
        <p class="text-sm"></p>
      </div>
      <button class="absolute top-0 right-0 w-8 h-8 text-xl !outline-none" @pointerdown="hideMsg">×</button>
    </dialog>

    <script type="module" src="./src/main.js"></script>
  </body>
</html>
