:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  user-select: none;
  touch-action: manipulation !important;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

html, body {
  height: 100%;
  overscroll-behavior: none;
  touch-action: manipulation !important;
}

.note .icon {
  background-image: url(./type-3.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.note:nth-child(2) .icon,
.note:nth-child(4) .icon,
.note:nth-child(7) .icon,
.note:nth-child(9) .icon,
.note:nth-child(12) .icon,
.note:nth-child(14) .icon {
  background-image: url(./type-2.svg);
}

.note:nth-child(1) .icon,
.note:nth-child(8) .icon,
.note:nth-child(15) .icon {
  background-image: url(./type-1.svg);
}

.sheet {
  background-image: url(./sheet.svg);
  background-color: rgba(0,0,0,.5);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}